---
---

@import "minimal-mistakes";

.masthead__inner-wrap {
  padding-block: 2em;
}

.site-logo img {
  max-height: 3rem;
}

.site-title {
  font-size: 1.5em;
}


html {
  font-size: 10px; // change to whatever

  @include breakpoint($medium) {
    font-size: 12px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 16px; // change to whatever
  }
}
